<div class="container" style="padding-top: 20px;">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Choose password Wisely!</h4>
                <p>Yeah, There are certain ways that you can choose password more wisely and secure your account. Here are those ways. 
                    1. Make your password long.  
                    2. Make your password a nonsense phrase.
                    3. Include numbers, Symbols and combination of upper and lower case letters. </p>
                <hr>
                <p class="mb-0">You could use generate password utility from here. <br>
                 <a href="javascript:void(0)" class="generate-password">Recommend Password:</a> &nbsp;
                 <input type="text" id="suggest-password" disabled value="">   

                </p>
              </div>
            <form>
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" disabled class="form-control" id="username" name="username" aria-describedby="emailHelp" placeholder="Username"> 
                </div>
                <div class="form-group">
                  <label for="oldpassword">Old Password</label>
                  <input type="password" class="form-control" id="oldpassword" placeholder="Old Password">
                </div>
                <div class="form-group">
                    <label for="newpassword">New Password</label>
                    <input type="password" class="form-control" id="newpassword" placeholder="New Password">
                  </div>
                  <div class="form-group">
                    <label for="confirmpassword">Confirm Password</label>
                    <input type="password" class="form-control" id="confirmpassword" placeholder="Confirm New Password">
                  </div>
                <button type="submit" class="btn btn-primary">Update</button> &nbsp;
                <button type="button" class="btn btn-warning">Clear</button>
              </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>
