<div class="login-form">
    <form action="#" method="post">
        <h2 class="text-center">Enter OTP</h2>   
        <div class="form-group">
        	<div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" name="otp" placeholder="Enter OTP" required="required" >				
            </div>
        </div>        
        <div class="form-group">
            <button type="submit" class="btn btn-primary login-btn btn-block">Verify Mobile</button>
        </div>
    </form>
    <p class="text-center text-muted large">Go to <a href="/Login">Login Page !</a></p>
</div>