<div class="login-form">
    <form [formGroup]="loginForm" (ngSubmit)="LoginSubmit(loginForm)">
        <h2 class="text-center">Log in</h2>   
        <div class="form-group">
        	<div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" formControlName="username" name="username" placeholder="Username" required="required">	
                    <div *ngIf="(f.username.touched && f.username.invalid) || submitted" class="alert alert-danger">
                        <div *ngIf="f.username.errors.required">Username is required.</div>
                        <div *ngIf="f.username.errors.minlength">Username should be 2 character.</div>
                    </div>			
            </div>
        </div>
		<div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" formControlName="password" class="form-control" name="password" placeholder="Password" required="required">				
                <div *ngIf="(f.password.touched && f.password.invalid) || submitted" class="alert alert-danger">
                    <div *ngIf="f.password.errors.required">Password is required.</div>
                    <div *ngIf="f.password.errors.minlength">Password should be 2 character.</div>
                </div>
            </div>
        </div>        
        <div class="form-group">
            <button type="submit" class="btn btn-primary login-btn btn-block">Log in</button>
        </div>
        <div class="clearfix">
            <label class="pull-left checkbox-inline">
                <input type="checkbox"> Remember me</label>
            &nbsp;
                <a href="#" class="pull-right">Forgot Password?</a>
        </div>
		<div class="or-seperator"><i>or</i></div>
        <p class="text-center">Login with your social media account</p>
        <div class="text-center social-btn">
            <a href="javascript:void(0)" class="btn btn-primary"><i class="fa fa-facebook"></i>&nbsp; Facebook</a>
            <a href="javascript:void(0)" class="btn btn-info"><i class="fa fa-twitter"></i>&nbsp; Twitter</a>
			<a href="javascript:void(0)" class="btn btn-danger"><i class="fa fa-google"></i>&nbsp; Google</a>
        </div>
    </form>
    <p class="text-center text-muted large">Don't have an account? <a href="/Signup">Sign up here!</a></p>
</div>