<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Reshimgathi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/Dashboard">
            <!--<i class="fa fa-home"></i>-->
            Home
            <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Search">
            <!--
            <i class="fa fa-envelope-o">
              <span class="badge badge-danger">11</span>
            </i>
          -->
            Search
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Favourites">
            <!--
            <i class="fa fa-envelope-o">
              <span class="badge badge-danger">06</span>
            </i>
          -->
           My Favourites
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <!--
              <i class="fa fa-envelope-o">
              <span class="badge badge-primary">11</span>
            </i>
          -->
            Profiles
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/Brides">Brides</a>
            <a class="dropdown-item" href="/Grooms">Grooms</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/List">List All</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0 righthead">
        <input class="form-control mr-sm-2" type="text" placeholder="Search : Reshimgathi Id" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <ul class="navbar-nav righthead">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-bell">
              <span class="badge badge-info">11</span>
            </i>
            Requests
          </a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto righthead">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Welcome, Amit Patange
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/Account">Account Settings</a>
            <a class="dropdown-item" href="/ChangePassword">Change Password</a>
            <a class="dropdown-item" href="/Edit">Edit Profile</a>
            <a class="dropdown-item" href="/ContactUs">Contact Us</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/Login">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  