<div class="container" style="padding-top: 50px;">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="bd-callout bd-callout-warning">
                <h4 id="conveying-meaning-to-assistive-technologies">Welcome to Reshimgathi Matrimony !!</h4>
                <div class="region region-welcome-block">
                    <div id="block-block-1" class="block block-block">
                        <div class="content">
                            <ul class="maratha-marriage-info">
                                <li class="user"><b>Founder:</b> Shri. Bharat Goverdhan Patange</li>
                                <li class="address"><b>Address:</b> Goverdhan Niwas, Prashant Nagar, Ambajogai, Dist: Beed, Maharashtra, India </li>
                                <li class="mobile"><b>Mobile: </b>+91 9545784111/li>
                                <li class="time"><b>Office Time:</b> 09:00 AM to 08:00 PM.</li>
                                <li class="mail"><b>Mailto: </b><a href="mailto:bgpatange58@gmail.com">bgpatange58@gmail.com</a></li>
                                <li class="whatsapp"><b>whatsapp No:</b> +91 9545784111</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>
